<!-- People Section -->
<section id="{{ page.section-type }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ page.title }}</h2>
                <h3 class="section-subheading text-muted">{{ page.content | markdownify }}
                  {% if page.group-picture %}
                  <div id="group-carousel" class="carousel slide group-carousel col-lg-6 col-lg-offset-3" data-ride="carousel">
                    <div class="carousel-inner group-carousel-inner">
                      {% for slide in page.group-picture %}
                        {% if forloop.first %}
                          <div class="item active">
                        {% else %}
                          <div class="item">
                        {% endif %}
                            <img src="img/group_picture/{{ slide }}"/>
                          </div>
                      {% endfor %}
                          </div>
                    <a class="left carousel-control" href="#group-carousel" data-slide="prev">
                      <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#group-carousel" data-slide="next">
                      <span class="fa fa-chevron-right"></span>
                    </a>
                  </div>
                  {% endif %}
                </h3>
            </div>
            <h3>&nbsp;</h3>
        </div>
        <div class="row">
            {% for member in site.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/people/{{ member.img-url }}" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <p class="large text-muted">{{ member.content | markdownify }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
